<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
    <div>
      <input type="text" v-model="loginType">
    </div>
        <template v-if="loginType === 'username'">
            <label>username</label>
            <input placeholder="enter your username" key="username-input">
        </template>
        <template v-else>
            <label>email</label>
            <input placeholder="enter your email" key="email-input">
        </template>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el:'#app',
        data:{
          loginType:''
        }
      })
    </script>
</body>

</html>
